*{
 box-sizing: border-box;
 margin: 0;
 padding: 0; 
}
#container{
    width: 100%;
    /* border: 1px solid red; */
}
#navbar{
    display: none;
}
#header{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: end;
}
#logo{
    width: 40%;
    margin-top: 20px;
    margin-right: auto;
}
#logo img{
    width: 100%;   
}
#menu{
    width: 40px;
    height: 40px;
}
/* hero section */
#hero{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}
#main{
    display: block;
    width: auto;
    height: auto;
}
.child1{
    width: 80%;
    height: 500px;
    margin: 20px;
    justify-content: center;
}
.child1 img{
    width: 100%;
}
.child2{
    margin: 20px;
    padding: 10px;
    text-align: left;
}
.child2 h1{
    margin-bottom: 30px;
}
.child2 p{
    line-height: 1.5;
    font-size: 18px;
}
.child3{
    margin: 20px;
    padding: 10px;
}
form {
    margin-top: 10px;
    max-width: 450px;
    
}
input, select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #8f8e8e;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}
form input[type="checkbox"]{
    margin-right: 10px;
    transform: scale(1.2);
}
button{
    border-radius: 10px;
    background-color: blueviolet;
    width: 80px;
    height: 30px;
    margin-bottom: 10px;
}
 /* footer section*/
#footer{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    gap: 40px;
    justify-content: space-between;
    padding: 50px 10px;
    text-align: left;
}
#footer-logo{
    display: flex;
    flex-direction: column;   /* stack vertically */
    align-items: flex-start;  /* left align */
    width: 100%;
}
#footer-logo img{
    width: 140px;
    display: block;
}
#footer-logo a img{
    width: 140px;
    margin-bottom:10px ;
}
#footer-logo p{
    width: 100%;
    max-width: 350px;
    white-space: normal;
    line-height: 1.7;
    font-size: 15px;
    margin-top: 10px;
   
}
#middle{
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: left;
    
}
.column{
    /* padding: 10px; */
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: left;
    line-height: 1.2;

    
}
.column ul{
    list-style: none;
}
.column h4{
    text-align: left;
    margin-bottom:10px;
}
#copy{
    text-align: center;
}
/* media for tablet */
@media screen and (min-width: 768px){
#navbar{
    display: none;
}
/* hero section */
#main {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.child1 {
    width: 40%;
}

.child1 img {
    width: 100%;
}

/* Right side column */
.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.child2 {
    width: 100%;
}

.child3 {
    width: 100%;
}
input, select{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #8f8e8e;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}
/* footer section */
#footer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 40px; 
}

#footer-logo {
    width: 40%;
    max-width: none; 
    align-items: flex-start;
    margin-bottom: 30px; 
}

#footer-logo p {
        
    max-width: 760px;
}

#middle {
        
    width: 45%;
    max-width: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.column {
    width: 28%; 
    padding: 10px 0;
    margin-bottom: 20px; 
    line-height: 1.6;
}

.column h4 {
    margin-bottom: 10px;
    font-size: 1.1em;
}
#copy {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    display: block; 
}

}
@media screen and (min-width: 1024px){
#container {
        max-width: 1200px;
        margin: 0 auto;
    }
    #header {
        margin-top: 0px;
        padding: 10px 0; 
    }
    #header #logo{
        padding-left: 10px;
        width: 15%;
    }
    #menu{
        display: none;
    }
    #navbar{
        display:block;
    }
   #navbar ul {
        display: flex;
        list-style: none;
        font-size: 20px;
        text-align: left;
        text-decoration:none;
        padding: 0;
    }
    #navbar ul li {
        margin-left: 30px;
        margin-top: 20px;
    }
    #navbar ul li a{
        text-decoration: none;
    }
    
/* hero section */
#main {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.child1 {
    width: 40%;
}

.child1 img {
    width: 100%;
}

/* Right side column */
.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.child2 {
    width: 100%;
}

.child3 {
    width: 100%;
}
input, select{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #8f8e8e;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}




}